# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
private.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear
/Challenges/nbproject/private/
/Chapter7/nbproject/private/
/Chapter8/nbproject/private/
/Chapter9/nbproject/private/
/Chapter10/nbproject/private/
/Chapter11/nbproject/private/
